---
import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Picture } from "astro:assets";
import logo_vxi_horizontal from "assets/logo_vxi_horizontal.png";

const menuitems = [
  {
    title: "INICIO",
    path: "/",
  },
  {
    title: "¿QUIÉNES SOMOS?",
    path: "/quienes-somos",
  },
  {
    title: "CONSULTA Y DESCARGA MATERIALES",
    path: "/materiales",
  },
  {
    title: "CONTACTO",
    path: "/contacto",
  },
];
---

<Container class="sticky top-0 z-40 bg-white border-b-2 border-gray-700">
  <header
    class="flex flex-col lg:flex-row justify-between items-center my-5 pt-3 pb-2">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <Picture
            src={logo_vxi_horizontal}
            alt="logo"
            widths={[300]}
            width={150}
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-10 h-10 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900 font-bold">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
